.heading-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/bcg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.heading-page h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 144px;
  text-align: center;
  color: white !important;
}

.heading-page h2 {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  color: white !important;
}

.heading-page h3 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 900;
  line-height: 36px;
  letter-spacing: 5px;
  text-align: center;
  color: white !important;
}

.heading-page a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.8),
      rgba(39, 32, 68, 0.8)
    ),
    url("images/footer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0px;
  color: white;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 60px;
}

footer h3 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: white;
}

footer p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: white;
  opacity: 0.8;
}

footer a {
  color: white;
  text-align: left;
  opacity: 0.8;
}

footer ul {
  list-style-type: none;
  padding: 0;
  opacity: 0.8;
}

.why-barcelona {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px 150px;
  grid-gap: 30px;
}

.why-barcelona img {
  display: block;
  object-fit: cover;
  width: 500px;
  height: 500px;
  margin: auto;
}

.why-barcelona h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
}

.why-barcelona h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0px 0px 20px 0px;
}

.why-barcelona p {
  text-align: justify;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}

.favourites {
  background: #f8f8f8;
  padding: 100px 200px 100px 200px;
}

.favourites h3 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 5px;
  text-align: center;
  opacity: 0.5;
  text-transform: uppercase;
}

.favourites h2 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  color: #272044;
}

.favaurite-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding-top: 30px;
}

.cafe {
  background: white;
}
.imgcafe {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cafe img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/1;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.cafe a {
  display: block;
  background: #462cb2;
  color: white;
  padding: 16px;

  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 3px;
  text-align: center;
  border: 0px;
  text-decoration: none;
  text-transform: uppercase;
}

.cafeinfo {
  padding: 30px;
}

.cafebutton {
  padding: 0 30px 30px 30px;
}

.cafeinfo h4 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: #272044;
}

.cafeinfo h5 {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: left;
  color: #272044;
}

.cafeinfo p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  opacity: 0.7;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 100px 150px 100px 150px;
  grid-gap: 30px;
}

@media (max-width: 900px) {
  .heading-page {
    padding: 60px 0;
  }

  .heading-page h1 {
    font-size: 48px;
    line-height: 1.3;
  }
  .heading-page h2 {
    font-size: 20px;
    line-height: 1.3;
  }

  .heading-page h3 {
    font-size: 12px;
    line-height: 1.3;
  }

  .heading-page a {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    padding: 12px 28px;
    margin-top: 32px;
    letter-spacing: 3px;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  footer {
    padding: 40px 20px;
  }
  footer h3 {
    font-size: 16px;
    line-height: 1.3;
  }

  footer p {
    font-size: 12px;
    line-height: 1.2;
  }

  footer a {
    font-size: 12px;
    line-height: 1.2;
  }

  .why-barcelona {
    grid-template-columns: 1fr;
    padding: 50px 0;
    text-align: center;
  }

  .why-barcelona h3 {
    font-size: 16px;
    line-height: 1.2;
  }

  .why-barcelona h2 {
    font-size: 20px;
    line-height: 1.2;
  }

  .why-barcelona p {
    font-size: 12px;
    line-height: 1.1;
  }

  .favourites {
    background: #f8f8f8;
    padding: 50px 20px 50px 20px;
  }

  .favourites h3 {
    font-size: 16px;
    line-height: 1.2;
  }

  .favourites h2 {
    font-size: 20px;
    line-height: 1.2;
  }

  .favaurite-grid {
    grid-template-columns: 1fr;
    padding-top: 30px;
  }
  .imgcafe {
    grid-template-columns: 1fr;
  }
  .cafe img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
  }
  .gallery {
    grid-template-columns: 1fr;
    padding: 50px 20px;
  }
}
